a {
  text-decoration: none;
  color: black
}


*{
  font-family: Inter,Arial,Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.p-container{
  margin-left: 10%;
  margin-right: 10%;
}